# docker-compose.yml
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: TR
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hana
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "5432:5432" 
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # NOUVEAU: Mappe le nom de l'écouteur à un protocole de sécurité (ici, les deux sont PLAINTEXT)
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT
      # L'écouteur interne (pour les autres conteneurs)
      KAFKA_LISTENERS: PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://0.0.0.0:9092
      # L'écouteur annoncé: interne (par nom de service) et externe (par localhost)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
  producer:
    build: .
    command: /bin/sh -c "sleep 25 && python producer.py"
    depends_on:
        - kafka
  # --- SPARK CLUSTER ---
  spark-master:
    image: bde2020/spark-master:3.3.0-hadoop3.3 # Image fiable pour master
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
    - ./spark-checkpoints:/tmp/spark_checkpoints

  spark-worker:
    image: bde2020/spark-worker:3.3.0-hadoop3.3 # Image fiable pour worker
    container_name: spark-worker
    ports:
    - "8081:8081"
    depends_on:
      - spark-master
    environment:
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_CORES: 1
      SPARK_WORKER_MEMORY: 1g
    volumes:
      - ./spark-checkpoints:/tmp/spark_checkpoints
  dashboard:
    build: . # Utilise le Dockerfile
    command: streamlit run dashboard.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - db


volumes:
  postgres_data: